div.box{
    border:solid 1px #c6cfe1;
    background:#dfe4ee;
    padding:10px;
    color:#333333;
    margin-bottom:20px;
}

div.box h1 {
    font-size:14px;
    color:#000000;
    padding-bottom:8px;
    margin-bottom:20px;
    border-bottom: 1px solid #CCC;
}
div.box p{padding-bottom:14px;}

div.box input .input-text{
    border:1px solid #3b6e22;
    color:#666666;
    /*width:180px;*/
}

div.box label{
    display:block;
    margin-bottom:10px;
    color:#555555;
}

div.box label span{
    display:block;
    float:left;
    padding-right:6px;
    width:90px;
    text-align:right;
    font-weight:bold;
    vertical-align: middle;
}
.spacer{margin-left:100px;
    margin-bottom:10px;
    font-size:11px;
    color:#555555;
}
#generate_report_submit, .green{
    border-radius: 0;
    background:url('img/green.gif');
    padding:0px 6px;
    border:1px solid #3b6e22;
    height:24px;
    line-height:24px;
    color:#FFFFFF !important;
    font-size:12px;
    margin-right:10px;
    display:inline-block;
    text-decoration:none;
}

div#r_report_form {
    margin: 0 !important;
    padding-top: 15px;
}

#wrapper {
    margin: 30px 200px auto 30px;
}

#msg {
  margin: 30px 40px;
}

#msg span {
  padding: auto 10px;
}

#msg span > img {
  margin-right: 5px;
}

.clearfix:after{
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
  overflow:hidden;
}
.clearfix {display: block;}

.error,
.alert,
.notice,
.success,
.info { padding: 0.8em; margin-bottom: 1em; border: 2px solid #ddd; }

.error, .alert { background: #fbe3e4; color: #8a1f11; border-color: #fbc2c4; }
.notice        { background: #fff6bf; color: #514721; border-color: #ffd324; }
.success       { background: #e6efc2; color: #264409; border-color: #c6d880; }
.info          { background: #d5edf8; color: #205791; border-color: #92cae4; }
.error a, .alert a { color: #8a1f11; }
.notice a          { color: #514721; }
.success a         { color: #264409; }
.info a            { color: #205791; }


/* Tabs */


/* root element for tabs  */
ul.css-tabs {
    margin:0 !important;
    padding:0;
    height:30px;
    border-bottom:1px solid #666;
}

/* single tab */
ul.css-tabs li {
    float:left;
    padding:0;
    margin:0;
    list-style-type:none;
}

/* link inside the tab. uses a background image */
ul.css-tabs a {
    float:left;
    font-size:13px;
    display:block;
    padding:5px 30px;
    text-decoration:none;
    border:1px solid #666;
    border-bottom:0px;
    height:18px;
    background-color:#efefef;
    color:#777;
    margin-right:2px;
    position:relative;
    top:1px;
    outline:0;
    -moz-border-radius:4px 4px 0 0;
}

ul.css-tabs a:hover {
    background-color:#F7F7F7;
    color:#333;
}

/* selected tab */
ul.css-tabs a.current {
    background-color:#ddd;
    border-bottom:1px solid #ddd;
    color:#000;
    cursor:default;
}


/* tab pane */
.css-panes > div {
    /*display:none;*/
    border:1px solid #666;
    border-width:0 1px 1px 1px;
    min-height:150px;
    padding:15px 20px;
    background-color:#ddd;
}
